
#mozilla-typing-text {
  font-family: 'Work Sans', sans-serif;
  font-size: 3em;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

body { 
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

#container {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  border-radius: 80%;
  animation: spin 10s linear infinite;
}
.item {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 80%;
  position: absolute;
  animation: spin 10s linear infinite reverse;
  margin: auto;
  padding: 20px;
}
@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

.hero-side-by-side {
  display: flex;
}
